

<h2>Add Teacher</h2>
<form action="../api/teacher/addteacher" method="post">
    <div>
        <label for="teacherFName">First Name:</label>
        <input id="teacherFName" type="text" name="teacherfname">
    </div>
    <div>
        <label for="teacherLName">Last Name:</label>
        <input id="teacherLName" type="text" name="teacherlname">
    </div>
    <div>
        <label for="employeeNumber">Employee Number:</label>
        <input id="employeeNumber" type="text" name="employeenumber">
    </div>
    <div>
        <label for="hireDate">Hire Date:</label>
        <input id="hireDate" type="date" name="hiredate">
    </div>
    <div>
        <label for="salary">Salary:</label>
        <input id="salary" type="number" step="0.01" name="salary">
    </div>
    <input type="submit">
</form>